i {
    color: white;
}

i:hover {
    color: black;
}

nav li {
     display: flex;
     justify-content: flex-end;
}



/* Cards section below with styling  */

.cards {
    color: #FFFFFF;
    font-size: 1.5em;
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 80%;
    cursor: pointer;

}

.cards img {
     width: 50%;
     height: 100%;

}

.isOnline {
     color: green;
}

.isOffline {
     color: red;
}
