@import url('https://fonts.googleapis.com/css?family=Risque|Roboto+Slab');

/* Media queries for medium and small screens */

@media screen and (max-width: 768px) {
          p {
          font-size: 1.3rem !important;


     }
     .cards img {
          min-height: 50px;
          min-width: 50px;
     }

     p .name {
          align-content:  flex-end;
     }
} /* end of media queries */

/* Global page tag styling  */

i {
    color: white;
}

i:hover {
    color: black;
}

nav li {
     display: flex;
     justify-content: flex-end;
}

#showcase {
    margin-top: 50px;
}

/* Cards section below with styling  */

.cards {

    font-family: 'Risque', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    font-size: 1.45em;
    background: #E8E8E8;
    border-radius: 20px;
}

.cards img {
     width: 10%;
     height: 10%;
     border-radius: 10%;

}

.cards p {
  flex-basis: 20%;
}

.status {
     font-family: 'Roboto Slab', serif;
     text-align: center;
     min-width: 30%;
     justify-content: center;

}

 .name {
     text-decoration: underline;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
}
