i {
    color: white;
}

i:hover {
    color: black;
}

nav li {
     display: flex;
     justify-content: flex-end;
}

#showcase {
    margin-top: 50px;
}

/* Cards section below with styling  */

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-size: 1.25em;
    background: gray;
    border-radius: 20px;
}

.cards img {
     width: 10%;
     height: 10%;
     border-radius: 10%;

}

.cards p {
  flex-basis: 20%;
}

.status {
     text-align: center;
     min-width: 30%;
     justify-content: center;
     
}
